/.idea
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/Gemfile.lock

/spec/output/*
!/spec/output/.gitkeep
/examples/output/*
!/examples/output/.gitkeep
